@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.otf")
}

html {
    height: 100vh;
}

body {
    margin: 0;
    overflow: hidden;
}

.box {
    width: 100%;
    font-family: "Gilroy";
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    font-size: 20rem;
    color: #191911;
    z-index: -5;
}

.content {
    width: 100%;
    background: #191911;
    height: 50vh;
    z-index: 5;
    position: absolute;
    font-size: 1.5rem;
    color: white;
    top: 57%;
    text-align: center;
}

.content > p {
    margin-top: 100px;
}

@media (max-width:768px) {
    .box {
        font-size: 10rem;
    }

    .content {
        top: 57%;
        font-size: 1.25rem;
    }
}