html, body{
    height: 100%;
    margin: 0;
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    background: #ecf0f1;
    overflow: hidden;
}

.container{
    height: 100%;
    max-width: 100%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    margin-left:2rem;
    font-weight: 700;
    font-size: 2.5rem;
    color: #2c3e50;
}
.description{
   
    line-height: 1.5rem;
    font-size: 1.2rem;
    top: 2rem;
    left: -1.85rem;
    color: #2c3e50;
}

.pro{
    color: white;
    padding: 0.2rem 0.2rem 0 0.2rem;
    background-color: #425E7A;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.17)
}


/* cmd styles */

.cmd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bash{
    color: #ecf0f1;
    width: 576px;
    height: 271.44px;
    background-color:#22262e;
    border-radius: 4px;
    padding: 1rem;
    overflow: auto;
    overflow-x: hidden;
    display: none;

}
.root{
    margin-top: 5px;
    color: yellow;
}
.input{
    margin-left: 5px;
    width: 400px;
    display: inline-block;
    outline-color: #22262e;
    color: turquoise;
}
.link{
    text-decoration: none;
    color: #425E7A;
}

/* media query */
@media(max-width:610px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
        font-size: 2rem;
        margin: 0;
    }
    .description{
        margin: 0;
        font-size: 1rem;
    }
    .cmd{
        margin-top: 7rem;
    }
    .bash{
        width: 90%;
    }
    .input{
        width: 60%;
    }
}
@media (min-width:610px) and (max-width:1080px) {
    body{
        overflow: auto;
    }
    .container{
        display: grid;
    }
    .name{
        margin: 0;
    }
    .description{
        position: relative;
        left:-2.7rem;
    }
}

@media(min-width: 1080px){
    .container{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        grid-template-areas: "intro cmd";
    }
    .description{
        position: relative;
    }
}